* {
    font-family: Cantarell VF,CartographCF Nerd Font,FontAwesome, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
}

#workspaces{
    background-color: transparent;
    color: #51e8ae;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 25px;
}
#workspaces button{
    box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
    background-color: rgba(10,44,94,0.8);
    border-radius: 15px;
    margin-right: 10px;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-right: 10px;
    font-weight: bolder;
    color: 	#51e8ae ;
}

#workspaces button.active{
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    padding-left: 20px;
    padding-bottom: 3px;
    background: #0a345e;
    background-size: 300% 300%;
    animation: gradient 4s ease infinite;
    color: #51e8ae;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-expand,
#custom-cycle_wall,
#custom-ss,
#custom-dynamic_pill,
#mpd {
    padding: 0 10px;
    border-radius: 15px;
    background-color: #0a345e;
    color: #51e8ae;
    box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#custom-dynamic_pill.low{
    background: #0a345e;
    background-size: 300% 300%;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    animation: gradient 10s ease infinite;
    font-weight: bolder;
    color: #51e8ae;
}
#custom-dynamic_pill.normal{
    background: #0a345e;
    background-size: 300% 300%;
    animation: gradient 15s ease infinite;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    font-weight: bolder;
    color: #51e8ae;
}
#custom-dynamic_pill.critical{
    background: #0a345e;
    background-size: 300% 300%;
    animation: gradient 15s ease infinite;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    font-weight: bolder;
    color: #51e8ae;
}


#custom-dynamic_pill.playing{
    background: #0a345e;
    background-size: 300% 300%;
    animation: gradient 15s ease infinite;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    font-weight: 900;
    color: #51e8ae ;
}
#custom-dynamic_pill.paused{
    background: #0a345e;
    font-weight: bolder;
    color: #51e8ae;
}

#custom-ss{
    background: #0a345e;
    color: #51e8ae;
    font-weight:  bolder;
    padding: 0px;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 15px;
}

#custom-cycle_wall{
    background: #0a345e;
    color: #51e8ae;
    background-size: 500% 500%;
    animation: gradient 7s linear infinite;
    font-weight:  bolder;
    padding: 5px;
    border-radius: 15px;
}


#clock {
    background: #0a345e;
    margin-right: 25px;
    color: #51e8ae ;
    background-size: 300% 300%;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    font-size: 15.5px;
    padding-top: 1px;
    padding-right: 21px;
    font-weight: bolder;
    padding-left: 20px
}

#battery.charging, #battery.plugged {
    background-color: #0a345e;
}

#battery {
    background-color: #0a345e;
    color: #51e8ae;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

@keyframes blink {
    to {
        background-color: #0a345e;
        color: #51e8ae;
    }
}

#battery.critical:not(.charging) {
    background-color:  #51e8ae;
    color:#bf5673;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
   
}

#cpu {
    background: #0a345e;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    color: #51e8ae;
}

#memory {
    background-color: #0a345e;
    color: #51e8ae;
    font-weight: bolder;
}

#disk {
    color: #51e8ae;
}

#backlight {
    color: #51e8ae;
}

#network{
    color:#51e8ae;
}

#network.disabled{
    background-color: #0a345e;
}

#network.disconnected{
    background: #0a345e;
    color: #b32940;
    font-weight: bolder;
    padding-top: 3px;
    padding-right: 11px;
}

#network.linked, #network.wifi{
    background-color: #0a345e ;
}

#network.ethernet{
    background-color:#0a345e ;
}

#pulseaudio {
    background-color: #0a345e;
    color: #51e8ae;
    font-weight: bolder;
}

#pulseaudio.muted {
    background-color: #0a345e;
}

#custom-media {
    color: #66cc99;
}

#custom-media.custom-spotify {
    background-color: #0a345e;
}

#custom-media.custom-vlc {
    background-color: #0a345e;
}

#temperature {
    background-color: #0a345e;
    color: #96804e;
}

#temperature.critical {
    background-color: #0a345e ;
    color: #bf5673;
}

#tray {
    background-color: #0a345e;
    color: #51e8ae;
}

#tray > .passive {
    -gtk-icon-effect: highlight;
    color: #51e8ae;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #b32940;
}

#idle_inhibitor {
    background-color: #0a345e;
}

#idle_inhibitor.activated {
    background-color: #0a345e;
    color: #2d3436;
}

#mpd {
    background-color: #0a345e;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #0a345e;
}

#mpd.stopped {
    background-color: #0a345e;
}

#mpd.paused {
    background-color: #0a345e;
}

#language {
    background: #0a345e;
    color: #51e8ae;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #0a345e;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
